<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="col-sm-9">
  <div align="center">
    <ul class="menu">
      <!--<li><a href="https://google.ch">Consommation: <b>{{conso}}</b> kW/h</a></li>
      <li><a href="#!/view2">Température</a></li>
      <li><a href="#!/view2">Historique</a></li>
      <li><a href="#!/view2">Blib blob</a></li>
      <li><a href="#!/view2">Blab</a></li>
      <li><a href="#!/view1">Blabla</a></li>
      <li><a href="#!/view1">Bloblo</a></li>-->

      <li *ngFor="let dat of datas"><a href="#!/view2">{{dat.name}}: <b>{{dat.valeur}}</b> {{dat.unite}}</a></li>
      <div class="dropdown">
        <button class="dropbtn">+</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </ul>
  </div>
</div>
