<div class="col-sm-9">
  <div align="center">
    <ul class="menu">
      <li><a href="https://google.ch">Consommation</a></li>
      <li><a href="#!/view2">Température</a></li>
      <li><a href="#!/view2">Historique</a></li>
      <li><a href="#!/view2">Blib blob</a></li>
      <li><a href="#!/view2">Blab</a></li>
      <li><a href="#!/view1">Blabla</a></li>
      <li><a href="#!/view1">Bloblo</a></li>
      <div class="dropdown">
      <button class="dropbtn">+</button>
      <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      </div>
      </div>
    </ul>
  </div>
</div>
