<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<br><br><br><br><br><br><br><br>
<div align="center">
  <div class="floating-box">
    <div style="color: red; font-family: sans-serif;">
      <h1><b>ERROR</b></h1>
    </div>
    <div style="color: #285187">
      <br>
      <span class="⚠"></span>
      <br><br>
      <h4><b>You are trying to access something <br>you are not allowed to</b></h4>
    </div>
  </div>
</div>
