<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<sidebar></sidebar>
<div>
  <button class="icon-refresh" (click)="refresh()"><font color="white">Refresh</font></button>
	<br><br>
  Devices:
  <select style="display: inline-block;" align="left">
    <option value="volvo">PowerSocket</option>
    <option value="saab">Beacon</option>
    <option value="opel">Light</option>
  </select>
  Sensors:
  <select style="display: inline-block;" align="right">
    <option value="volvo">Power</option>
    <option value="saab">Temperature</option>
    <option value="opel">Current</option>
  </select>
    <br><br>
    <div class="table">
      <ngx-datatable
        class="material"
        style="background-color: #F5F5F5; position:relative; display:block; text-align: center; cursor:pointer"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [scrollbarV]="true"
        [reorderable]="reorderable"
        [selected]="selected"
        [selectionType]="'cell'"
        (select)="onSelect($event)"
        (activate)="onActivate($event)">
      </ngx-datatable>
  </div>
</div>
<br>
<!--div>
  <button (click)="getTableFromStorage('device', 'powersocket')" class="btn btn-primary btn-block btn-large">Power socket</button>
  <button (click)="getTableFromStorage('device', 'beacon')" class="btn btn-primary btn-block btn-large">Beacon</button>
  <button (click)="getTableFromStorage('device', 'light')" class="btn btn-primary btn-block btn-large">Light</button>
</div>
<div>
  <button (click)="getTableFromStorage('sensor', 'powerSensor')" class="btn btn-primary btn-block btn-large">Power</button>
  <button (click)="getTableFromStorage('sensor', 'temperatureSensor')" class="btn btn-primary btn-block btn-large">Temperature</button>
  <button (click)="getTableFromStorage('sensor', 'currentSensor')" class="btn btn-primary btn-block btn-large">Current</button>
</div>
<div>
  <button (click)="getTableFromStorage('user', 'all')" class="btn btn-primary btn-block btn-large">List of users</button>
</div-->

<!--ul class="menu">
  <li><div class="dropdown">
    <button class="dropbtn">Devices &nbsp; &or;</button>
    <div class="dropdown-content">
      <a href="#">PowerSocket</a>
      <a href="#">Beacon</a>
      <a href="#">Light</a></div></div></li>

      <li><div class="dropdown">
        <button class="dropbtn">Sensor &nbsp; &or;</button>
        <div class="dropdown-content">
          <a href="#">Power</a>
          <a href="#">Temperature</a>
          <a href="#">Current</a>
        </div>
        </div></li>
</ul-->


<div *ngIf="show">
  <div align="right" style="padding-right: 280px;"><input type="submit" (click)="show = !show" style="cursor:pointer;" value="Close"></div>
<editing-menu [tableColumns]="columns" [tableRows]="rows"></editing-menu>
</div>

<!--
<div>
	<button (click)="getDemo()" class="btn btn-primary btn-block btn-large">Demo</button>
	<button (click)="getDeviceTable('powersocket')" class="btn btn-primary btn-block btn-large">Power socket</button>
	<button (click)="getDeviceTable('beacon')" class="btn btn-primary btn-block btn-large">Beacon</button>
</div>
-->
