<div>
      <ngx-datatable
        class="material"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [reorderable]="reorderable">
      </ngx-datatable>
</div>

<div>
	<button (click)="getDemo()" class="btn btn-primary btn-block btn-large">Demo</button>
	<button (click)="getDeviceTable('powersocket')" class="btn btn-primary btn-block btn-large">Power socket</button>
	<button (click)="getDeviceTable('beacon')" class="btn btn-primary btn-block btn-large">Beacon</button>
</div>
