<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div> {{a.state}} et {{a.value}}
</div>
<br><br><br><br><br><br><br><br>

<div>
<div class="floating-box" align="center"><span class="⚠"></span><h3><b>Editing menu</b></h3><br>
	<form action="getform.php" align="left" method="get">
			<div class="small-2 columns">
			<label>Brightness:<input type="number" id="days-off-count" value="0" /></label>
			<br>
			<label>H:<input type="number" id="days-off-count" value="0" /></label><label>S:<input type="number" id="days-off-count" value="0" /></label><label>V:<input type="number" id="days-off-count" value="0" /></label>
			<br>
			<label>Hue:<input type="number" id="days-off-count" value="0" /></label>
			<br>
			<input type="submit" value="Update">
			</div>
	</form>
</div>
</div>
