.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-right: 50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: absolute;
    background-color: #fefefe;
    bottom: 5px;
    border: 1px solid #888;
    width: 500px;
    height: 400px;
    left:50%;
    top:100px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.floating-box {
    float: center;
    font-size: 17px;
    width: 400px;
    height: 300px;
    margin: 10px;
    border: 5px solid;
	  border-color: #2B5591;
    border-radius: 5px;
	  background-color: #f1f1f1;
    text-align: center;
    align: middle;
    position: relative;
}

.state {
    width: 40%;
    clear: both;
    display: inline-block;
    text-align: center;
    float: center;
    align: middle;
    margin-left:50px;
}

.hue {
    width: 40%;
    clear: both;
    display: inline-block;
    text-align: center;
    float: center;
    align: middle;
    margin-left:75px;
}

.saturation {
    width: 40%;
    clear: both;
    display: inline-block;
    text-align: center;
    float: center;
    align: middle;
    margin-left:18px;
}

.kelvin {
    width: 40%;
    clear: both;
    display: inline-block;
    text-align: center;
    float: center;
    align: middle;
    margin-left:55px;
}
