.floating-box {
    float: center;
    font-size: 17px;
    width: 400px;
    height: 280px;
    margin: 10px;
    border: 5px solid;
	border-color: #2B5591;
    border-radius: 5px;
	background-color: #f1f1f1;
  text-align: center;
}

input[type=number] {
    width: 40%;
    clear: both;
    display: inline-block;
    text-align: center;
}
