<!--div class="scrollmenu">

	<a href="#contact">Contact</a>
	<a href="#about">About</a>
	<a href="#support">Support</a>
	<a href="#blog">Blog</a>
	<a href="#tools">Tools</a>
	<a href="#base">Base</a>
	<a href="#custom">Custom</a>
	<a href="#more">More</a>
</div-->

<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas baseChart width="600" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
				(chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
<!--
  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button (click)="randomize()">Random data</button>
	</div>
-->
  <!--button (click)="switchToLine()">Switch to line chart</button-->
  <button (click)="switchToBar()">Switch to bar chart</button>
  <button (click)="switchToPie()">Switch to pie chart</button>
  <!--div class="col-md-6">
    <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
  </div-->
</div>
