<!DOCTYPE html>
<html lang="en">
<head>
  <title>I.D.E.A.S Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<!-- Partie à gauche de l'écran pour le choix de la station/labo... -->
<div class="container-fluid">

	<div class="row content">
		<div class="col-sm-3 sidenav">
			<h2>I.D.E.A.S DashBoard</h2>
				<ul class="nav nav-pills nav-stacked">
					<li class="active">
            <a href="#">Link1</a></li>
					<li><a href="#">Link2</a></li>
					<li><a href="#">Link3</a></li>
					<li><a href="#">Link4</a></li>
			  </ul>
			<br>
		</div>

<!-- Menu au dessus-->
	<div class="col-sm-9">
		<div align="center">
			<ul class="menu">
				<li><a href="https://google.ch">Consommation</a></li>
				<li><a href="#!/view2">Température</a></li>
				<li><a href="#!/view2">Historique</a></li>
				<li><a href="#!/view2">Blib blob</a></li>
				<li><a href="#!/view2">Blab</a></li>
				<li><a href="#!/view1">Blabla</a></li>
				<li><a href="#!/view1">Bloblo</a></li>
				<div class="dropdown">
				<button class="dropbtn">+</button>
				<div class="dropdown-content">
				<a href="#">Link 1</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
				</div>
				</div>
			</ul>
		</div>
	</div>

  <!-- Partie centrale (plot prochainement) -->
		<hr>
		<br>
		<h2>Connecté en tant que: <h3>User Standard</h3></h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in
       culpa qui officia deserunt mollit anim id est laborum consectetur
       adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
       magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
       laboris nisi ut aliquip ex ea commodo consequat.</p>
		<br>
		<br>
    </div>

</div>

<footer class="container-fluid">
  <p>Développé par Benquet0</p>
</footer>

</body>
</html>
