<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<div class="col-sm-3 sidenav">
<h2>I.D.E.A.S DashBoard</h2>
  <ul class="nav nav-pills nav-stacked">
	<li class="active">
  <h4>Connecté en tant que: <h5><font color="green">User Standard</font></h5></h4>
  <br>

	<!-- li><a routerLink="/table" href="#">List</a></li -->
	<li><button (click)="callParent()" class="btn btn-primary btn-block btn-large">View device list</button></li>
  <br>

  <div class="floating-box" align="center"><span class="⚠"></span>&nbsp; Notifications: (0)</div>
  </ul>
  <br><br><br><br><br><br>
  <a routerLink="/login" href="#"><h4> Logout</h4></a>
<br>
</div>
