<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>


<div class="col-sm-3 sidenav">
<h2>I.D.E.A.S DashBoard</h2>
  <ul class="nav nav-pills nav-stacked">
	<li class="active">
  <h4>Connected as : <h5><font color="green"> {{role}} </font></h5></h4>
  <br>

	<!-- li><a routerLink="/table" href="#">List</a></li -->
  <li><button routerLink="/overview" href="#" class="btn btn-primary btn-block btn-large">Overview</button></li>
	<li><button (click)="navigateToTable('device')" class="btn btn-primary btn-block btn-large">View device list</button></li>
  <li><button (click)="navigateToTable('sensor')" class="btn btn-primary btn-block btn-large">View sensor list</button></li>

  <div *ngIf="role != 'Basic'; then primaryBlock;"></div>
    <ng-template #primaryBlock>
        <li><button  (click)="navigateToTable('user')" class="btn btn-primary btn-block btn-large">View user list</button></li>
    </ng-template>

  <br>
  <div class="floating-box" align="center">
    <div class="w3-container">
      &nbsp; Notifications <span class="w3-badge w3-red">1</span>
    </div>
  </div>
  </ul>
  <br><br>
  <!-- a routerLink="/login" href="#"><h4> Logout</h4></a-->
  <a routerLink="/login" (click)="logout()"><h4> Logout</h4></a>
<br>
</div>
